html, body {
    height: 100%;
}

#load-more {
    display: none;
}

body {
    background-image: url("../images/Background1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;

}

.jumbotron {
    background-image: url("../images/spotlights.jpg");
    background-color: rgba(22, 22, 22, 0.87);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;

}

.topicBtn {
    background-color: whitesmoke;
}

/*Gifs display*/
.gify {
    padding-bottom: 1rem;
}

#firebaseGif {
    height: 160px;
    overflow-y: scroll;
    border: solid 0.2rem grey;
    margin: 0 4rem;
}

.favGif {
    max-width: 75%;
}

/*Set default sizes*/
.newInput {
    width: 50%;
    margin: 3rem auto;
}

/*Scale for xs devices*/
@media (max-width: 575.98px){
    .topicBtn {
        font-size: 0.75rem 
    }
    .newInput {
        margin: 0;
        width: 100%;
    }
    .jumbotron {
        background-image: url("../images/spotlights-xs.jpg")
    }
    #featuredMovies {
        margin: 0;
    }
}

/*For xs and snall devices*/
@media (max-width: 767.98px){
    .gifTitle, .gifRating {
        display: none;
    }
    .omdbImg {
        width: 70%;
    }
    .newInput {
        margin: 1rem auto;
    }
    #featuredMovies {
        padding: 0;
    }
}


