html, body {
    height: 100%;
}

#load-more {
    display: none;
}

body {
    background-color: rgb(241, 234, 223);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background-image: url("../images/Vintage\ Film.jpg");
    background-color: rgba(22, 22, 22, 0.87);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
}

/*Movie Titles Buttons*/
.topicBtn {
    background-color: whitesmoke;
}

/*User Input box*/
.newInput {
    width: 50%;
    margin: 3rem auto 2rem;
}
#submit_btn {
    background-color: rgba(123, 133, 96, 0.856);
}

.fa {
    color: rgb(189, 96, 53);
}
/*Main Display*/
#mainDisplay {
    margin-top: 1rem;
}
/* Gifs display - Bootstrap Card*/
#gifDisplay {
    margin: 1rem 0.5rem 1rem 2rem;
}
.card-columns {
    display: inline-block;
    width: 100%;
}
.card-body {
    padding: 0.5rem
}
.gify {
    padding-bottom: 1rem;
}
dd {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: rgba(123, 133, 96, 0.856);
}

dt {
    font-size: 0.9rem;
    color: rgba(123, 133, 96, 0.856);
}

/*Movies poster display*/


/*Fav gifs slider/carousel*/
#firebaseGif {
    height: 180px;
    overflow-x: scroll;
    margin: 0;
}
.favDisplay {
    background-image: url(../images/Film\ Reel\ Border.JPEG);
    background-size: contain;
    background-position: center center;
    padding: 1rem 0;
    margin: 1rem 0;
}
.fav-card {
    margin-top: 1.3rem;
    border-left: solid rgba(124, 99, 61, 0.651);
    border-right: solid rgba(124, 99, 61, 0.651);
}
.card-footer {
    padding: 0;
    background-color: transparent;
}


/*Scale for xs devices only*/
@media (max-width: 575.98px){
    .jumbotron {
        background-image: url("../images/Vintage\ Film\ XS.jpg")
    }
    .topicBtn {
        font-size: 0.75rem 
    }
    .newInput {
        margin: 0;
        width: 100%;
    }
    #submit_btn {
        padding: 0.3rem;
    }
    #featuredMovies {
        margin: 0;
    }

}

/*For xs and snall devices*/
@media (max-width: 767.98px){
    
    .gifTitle, .gifRating {
        display: none;
    }
    .omdbImg {
        width: 70%;
    }
    .newInput {
        margin: 1rem auto;
    }
    #featuredMovies {
        padding: 0;
    }
    .card-body {
        padding: 0;
    }
}

/*for small devices ONLY */
@media (min-width: 576px) and (max-width: 767.98px) {
    .jumbotron {
        background-image: url("../images/Vintage\ Film\ copy.jpg")
    }
 }


