html, body {
    height: 100%;
}

#load-more {
    display: none;
}

body {
    background-image: url("../images/Background1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background-image: url("../images/spotlights.jpg");
    background-color: rgba(22, 22, 22, 0.87);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
}

/*Movie Titles Buttons*/
.topicBtn {
    background-color: whitesmoke;
}

/*User Input box*/
.newInput {
    width: 50%;
    margin: 3rem auto;
}

/* Gifs display - Bootstrap Card*/
.card-columns {
    display: inline-block;
    width: 100%;
}
.card-body {
    padding: 0.5rem
}
.gify {
    padding-bottom: 1rem;
}
dd {
    margin-bottom: 0;
}

/*Fav gifs slider/carousel*/
#firebaseGif {
    height: 160px;

    overflow-x: scroll;
    margin: 0 1rem;

}


/*Scale for xs devices*/
@media (max-width: 575.98px){
    .topicBtn {
        font-size: 0.75rem 
    }
    .newInput {
        margin: 0;
        width: 100%;
    }
    .jumbotron {
        background-image: url("../images/spotlights-xs.jpg")
    }
    #featuredMovies {
        margin: 0;
    }
}

/*For xs and snall devices*/
@media (max-width: 767.98px){
    .gifTitle, .gifRating {
        display: none;
    }
    .omdbImg {
        width: 70%;
    }
    .newInput {
        margin: 1rem auto;
    }
    #featuredMovies {
        padding: 0;
    }
}


